.mb-0 > a {  
  display: block;  
  position: relative;  
}  
/* h2 {  
  font-style: italic;  
  font-family: "Playfair Display? , serif;  
  color: "black";   
  letter-spacing: '-0.005em';   
  word-spacing: 1px;  
  font-size: 1.75em;  
  font-weight: bold;  
  margin-top: 20px;  
  text-align: center;  
}   */
.mb-0 > a:after {  
  content: "\f078"; /* fa-chevron-down */  
  font-family: 'FontAwesome';  
  position: absolute;  
  right: 0;  
}  
.mb-0 > a[aria-expanded="true"]:after {  
  content: "\f077"; /* fa-chevron-up */  
}  
